HELP.md

# Backend / Maven
target/
**/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Application properties
**/application.properties

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
**/.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/
**/.vscode/

# Frontend / Node
node_modules/
**/node_modules/

# Logs / env / system
*.log
.DS_Store
.env
**/.env